.nav-bar {
    padding: 24px;
    background-color: #1e88e5;
    font-weight: 600;
}

.nav-bar a {
    margin-left: 30px;
    padding: 5px 8px;
    font-size: 1.6rem;
    color: #fff;
    text-decoration: unset;
}

.nav-bar a:hover {
    opacity: 0.8;
    background-color: #419cec;
    text-decoration: unset;
}
