/* You can add global styles to this file, and also import other style files */
button {
    min-width: 80px;
    padding: 8px 20px;
    background: #1e88e5;
    color: #fff;
    font-size: 15px;
    border: unset;
    border-radius: 5px;
    outline: unset;
}

button:hover {
    cursor: pointer;
}